In [2]:
age=(12,2,5,18)
age.sort()
#can use sorted for tuple

AttributeError: 'tuple' object has no attribute 'sort'

In [11]:
tuple-cannot append,add,insert

SyntaxError: invalid syntax (<ipython-input-11-39bb683d6f65>, line 1)

In [5]:
#tuple concat +

In [7]:
'''retrieve 88
retrieve all d ele
retrieve all d ele using len
remove the last ele
retrieve 97,13 and 26
reverse age'''

'retrieve 88\nretrieve all d ele\nretrieve all d ele using len\nremove the last ele\nretrieve 97,13 and 26\nreverse age'

In [8]:
Index concept
Duplication
Reassigning
Appending
Recover single element
delete

SyntaxError: invalid syntax (<ipython-input-8-8f8e3f144ed4>, line 1)

In [12]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
l=[1,5,8,9]
1 in l

True

In [15]:
list=max,min,sum,len

In [17]:
print(len(l))
print(max(l))
print(min(l))
print(sum(l))

4
9
1
23

In [20]:
l.append(5)
l

[1, 5, 8, 9, 5, 5, 5]

In [22]:
l.extend([2,6,7])
l

[1, 5, 8, 9, 5, 5, 5, 2, 6, 7, 2, 6, 7]

In [26]:
l.remove(5)
l

[1, 8, 9, 5, 2, 6, 7, 2, 6, 7]

In [30]:
l.insert(0,12)
l

[12, 12, 12, 12, 1, 8, 9, 5, 2, 6, 7, 2, 6, 7]

In [34]:
l.reverse()
l

[12, 12, 12, 12, 1, 8, 9, 5, 2, 6, 7, 2, 6, 7]

In [42]:
l.index(1)

4

In [44]:
l

[12, 12, 12, 12, 1, 8, 9, 5, 2, 6, 7, 2, 6, 7]

In [48]:
l[2]

12

In [50]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [52]:
s={'a','b','c','d'} #eradicates duplicates while assigning
s

{'a', 'b', 'c', 'd'}

In [55]:
t=(1,2,1,2,3,8) #converts to tuple to set
s=set(t)
s

{1, 2, 3, 8}

In [56]:
#conditional statements

In [58]:
cc=17
if(cc>25):
    print('diamond')
elif((cc>15)&(cc<25)):
    print('golden')
elif((cc>5)&(cc<15)):
    print('silver')
else:
    print(bronze)

golden

In [ ]:
n=int(input('enter a number'))
if(n%2==0):
    print('even')
else:
    print('odd')

In [1]:
for i in range(0,3):#0,1,2
    for j in range(0,3):#0,1,2
        print(i+j)

0
1
2
1
2
3
2
3
4

In [ ]:
#range
ran=range(5)
for i in ran:
    print("value of l: {}")

In [8]:
db={'a':2,'b':3}
for i,j in db.items():
    print('Title: %s : %d' %(i,j))

Title: a : 2
Title: b : 3

In [11]:
#try,except,finally
try:
    print('hai')
except:
    print('something wrong')
finally:
    print('try except is finished')

hai
try except is finished

In [13]:
try:
    print(x)#since x is not assigned
except NameError:
    print('its name error')
except ZeroDivisionError:
    print('cant divide by 0')
except:
    prin('something wne wrong')

its name error

In [17]:

try:
    print(x)
except NameError:
    print('its name error')
except ZeroDivisionError:
    print('cant divide by 0')
except:
    prin('something wne wrong')

3.3333333333333335

In [19]:
lower
upper
lstrip
rstrip
strip
abs

NameError: name 'lower' is not defined

In [29]:
#Write a program to to find the sum of all the numbers between 555 and 1111 which are divisible by 7 and not divisible by 5
count=555
sum=0
d=list(range(555,1111))
for x in d:
    count+=1
    if count%7==0:
        sum+=count
print(sum)

65807

In [107]:
def PrimeSeries(num):
    if num > 1:
        for i in range(2,int(num**0.5)+1):
            if num%i==0:
                print(num, 'not a prime number')
                break
        else:
            print(num, ' is a prime number')
    else:
        print(num, ' is not a prime number')
        
    n=num
    l = [*range(2,n)]
    primes = []
    for i in l:
        if all([i % n for n in range(2, i)]):
            primes.append(i)
    try:
        print(max(primes),'is the previous prime number')
    except:
        print('there is no prime number below 1')

    n1=num+1
    l = [*range(n1, (2*n1)+1)]
    primes = []
    for i in l:
        if all([i % n1 for n1 in range(2, i)]):
            primes.append(i)
    print(min(primes),'is the next prime number')
    return num,max(primes),min(primes)
    

x=PrimeSeries(79)

79  is a prime number
73 is the previous prime number
83 is the next prime number

In [35]:
#casefold

In [36]:
#lambda

In [38]:
g = lambda x: x*x*x 
print(g(7))

343

In [40]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [42]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [44]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), li) 
print (sum)

193

In [48]:
add = lambda x, y : x + y 
print (add(2, 3))

5

In [50]:
map(lambda x : x*2, [1, 2, 3, 4])

In [54]:

dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
  
map(lambda x : x['name'], dict_a) # Output: ['python', 'java']
  
map(lambda x : x['points']*10,  dict_a) # Output: [100, 80]

map(lambda x : x['name'] == "python", dict_a) # Output: [True, False]

print(a)

<map object at 0x00000000052F82E8>

In [57]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]
  
a=map(lambda x, y: x + y, list_a, list_b) 
print(a)

<map object at 0x00000000052F8748>

In [59]:
map_output = map(lambda x: x*2, [1, 2, 3, 4])
print(map_output)

<map object at 0x00000000052F82E8>

In [70]:
(lambda x, y: x + y)(5, 3)

8

In [63]:
sorted(range(-5, 6), key=lambda x: x ** 2)

[0, -1, 1, -2, 2, -3, 3, -4, 4, -5, 5]

In [78]:
def make_adder(n): 
    return lambda x: x + n

plus_3 = make_adder(3)
plus_3(4)

7

In [80]:
list(filter(lambda x: x % 2 == 0, range(16)))

[0, 2, 4, 6, 8, 10, 12, 14]

In [82]:
 
list = [10,6,7,5,2,1,8,5]
s = reduce(lambda x,y: x if (x > y) else y, list)
print(s)

10

In [84]:
list = [1,2,3,4,5]
s = reduce(lambda x,y: x+y,  list)
print(s)

15

In [89]:
list = [1,2,3,4,5,6,7,8,9,10]
n=[]
n = filter(lambda x: x % 2 == 0, list)
print(n)

<filter object at 0x0000000005318080>

In [91]:
list = [1,2,3,4,5]
squaredList = map(lambda x: x*x, list)
print(squaredList)

<map object at 0x00000000053180F0>

In [93]:
f = lambda x: x > 10
print(f(2))
print(f(12))

False
True

In [96]:
f = lambda x : 2 * x
print(f(3))

6

In [101]:
l=[1,2,3]
l1=[4,5,6]
a=map(lambda a,b:a+b,(l,l1)
print(a)

SyntaxError: invalid syntax (<ipython-input-101-1fd0d73aa630>, line 4)

In [104]:
import operator
l=[1,2,3]
l1=[4,5,6]
print(list(map(operator.add,l,l1)))

TypeError: 'list' object is not callable