In [59]:
#methods of list
mylist=[2,5,8,8,6,4,6,2,4,9,7]
mylist.append(21);print("append an element into",mylist)
mylist.extend([5,10,15]); print("extend",mylist)

append an element into [2, 5, 8, 8, 6, 4, 6, 2, 4, 9, 7, 21]
extend [2, 5, 8, 8, 6, 4, 6, 2, 4, 9, 7, 21, 5, 10, 15]

In [10]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
mylist=[2,5,8,8,6,4,6,2,4,9,7]
mylist.insert(3,(77,88,99)); print("insert into an index",mylist)
mylist[3][2]

insert into an index [2, 5, 8, (77, 88, 99), 8, 6, 4, 6, 2, 4, 9, 7]

99

In [61]:
mylist=[2,5,8,8,6,4,6,2,4,9,7]
mylist.pop(-5); print("pop",mylist)
mylist.pop()

pop [2, 5, 8, 8, 6, 4, 2, 4, 9, 7]

7

In [63]:
mylist.remove(2); print("remove value",mylist)

remove value [5, 8, 8, 6, 4, 4, 9]

In [64]:
mylist=[2,5,8,8,6,4,6,2,4,9,7]
mylist.reverse(); print("reverse",mylist)

reverse [7, 9, 4, 2, 6, 4, 6, 8, 8, 5, 2]

In [110]:
print(mylist)
#print(mylist.index(5),end=',')
print(mylist.index(2,0,11),end=',')

[2, 5, 8, (77, 88, 99), 8, 6, 4, 6, 2, 4, 9, 7]
0,

In [87]:
help(mylist.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [97]:
print(mylist.count(5)); print(mylist.count(2))

1
2

In [98]:
mylist1=mylist.copy()
mylist1
mylist1[2]=22;print(mylist1)

[7, 9, 22, 2, 6, 4, 6, 8, 8, 5, 2]

In [45]:
mylist
mylist.sort()
mylist

[2, 2, 4, 4, 5, 6, 6, 7, 8, 8, 9]

In [48]:
mylist.sort(reverse=True)
mylist

[9, 8, 8, 7, 6, 6, 5, 4, 4, 2, 2]

In [51]:
mylist.clear()
mylist

[]

In [115]:
#swapping two numbers
print(mylist) 
mylist[1],mylist[2]=mylist[2],mylist[1]
print(mylist)

[2, 8, 5, (77, 88, 99), 8, 6, 4, 6, 2, 4, 9, 7]
[2, 5, 8, (77, 88, 99), 8, 6, 4, 6, 2, 4, 9, 7]

In [174]:
#tuple

In [122]:
tuple1=(1,2,3,'a','b','c',[10,11,12],(22,33,44))
#tuple[6]=0 #tuple is immutable
tuple1[6][1]=5 # can be modifed since working on list
print(tuple1[2],tuple1[6],tuple1[7][1])

3 [10, 5, 12] 33

In [125]:
#tuple to list
tuple1=(5,3,7,9,2,4)
mylist=list(tuple1)
mylist

[5, 3, 7, 9, 2, 4]

In [175]:
#list to tuple
mylist=[2,8,6,7,9]
mytuple= tuple(mylist)
print(mytuple)

(2, 8, 6, 7, 9)

In [151]:
mt1=(1,2,4,5,6,7)
len(mt1)

6

In [152]:
max(mt1)

7

In [153]:
min(mt1)

1

In [155]:
mt1.count(3)

0

In [157]:
mt1.index(5)

3

In [159]:
#tuple operations
mt1=(2,4,6)
mt2=(1,3,5)
mt3=mt1+mt2
print(mt3)

(2, 4, 6, 1, 3, 5)

In [161]:
mt4=mt1*3
print(mt4)

(2, 4, 6, 2, 4, 6, 2, 4, 6)

In [163]:
mytuple=(1,2,3,4,5)
mytuple[-1]

5

In [165]:
mytuple[:]

(1, 2, 3, 4, 5)

In [167]:
mytuple[2:5]

(3, 4, 5)

In [169]:
mytuple[:5]

(1, 2, 3, 4, 5)

In [172]:
mytuple[2:]

(3, 4, 5)

In [178]:
#swapping
mt1=(2,4,6)
mt2=(1,3,5)
mt1,mt2=mt2,mt1
print(mt1,mt2)

(1, 3, 5) (2, 4, 6)

In [180]:
mt1=(1,3,5,7,9)
3 in mt1

True

In [182]:
4 in mt1

False

In [184]:
for ele in mt1:
    print(ele, end=',')

1,3,5,7,9,

In [189]:
mt2=(1,3,5,'',9)
print(mt2)

(1, 3, 5, '', 9)

In [191]:
for ele in mt1:
    print(ele)

1
3
5
7
9

In [192]:
#dictionaries

In [194]:
md={"Name":"Ashok","Age":27,"Heigh":167,91:"India"}
len(md)

4

In [198]:
md1={}
md1

{}

In [200]:
md.keys()

dict_keys(['Name', 'Age', 'Heigh', 91])

In [202]:
md.values()

dict_values(['Ashok', 27, 167, 'India'])

In [204]:
dir(md)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [206]:
md.items()

dict_items([('Name', 'Ashok'), ('Age', 27), ('Heigh', 167), (91, 'India')])

In [208]:
mytuple=("Games","Player","Age")
md2=dict.fromkeys(mytuple)
md2

{'Games': None, 'Player': None, 'Age': None}

In [211]:
md2=dict.fromkeys(mytuple,22)
md2

{'Games': 22, 'Player': 22, 'Age': 22}

In [212]:
#loops

In [1]:
#while
i=10
while(i>=0):
    print("the count is",i)
    i=i-1
else:
    print("loop exit")
    
print("end")

the count is 10
the count is 9
the count is 8
the count is 7
the count is 6
the count is 5
the count is 4
the count is 3
the count is 2
the count is 1
the count is 0
loop exit
end

In [4]:
import math

In [1]:
dir(math)

NameError: name 'math' is not defined

In [2]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
import math

In [6]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']