## Looping in Python

### The For loop

In [46]:
for name in ["Joe","Zoe","Brad","Angelina","Zuki","Thandi","Paris"]:
    invite = "Hi " + name + ".  Please come to my party on Saturday!"
    print(invite)

Hi Joe.  Please come to my party on Saturday!
Hi Zoe.  Please come to my party on Saturday!
Hi Brad.  Please come to my party on Saturday!
Hi Angelina.  Please come to my party on Saturday!
Hi Zuki.  Please come to my party on Saturday!
Hi Thandi.  Please come to my party on Saturday!
Hi Paris.  Please come to my party on Saturday!

visualise loops through http://www.pythontutor.com/visualize.html#mode=display

In [2]:
l2=[23,1,0,12,45,-1,46]

for x in l2 :
    print(x)

23
1
0
12
45
-1
46

In [3]:
for x in l2:
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [108]:
# The following code snippet is to check if a number is divisible by 2.
a = 100 # try different values for a
if(a % 2 == 0) :   # checks if the remainder is zero when divided by 2 
    print(a," is even number")
else :
    print(a," is odd number")

100  is even number

**Q1.(In class lab exercise)** Write a modified version of the code given above so that a message is printed only if the number is even.

In [49]:
a=100
if(a%2==0):
    print(a,"is a even number")

100 is a even number

**Q2. (In class lab exercise)** Modify the *if* condition in the code given using the '!=' operator and print if a number is odd.

In [50]:
a=99
if(a%2!=0):
    print(a,"is a odd number")

99 is a odd number

### Breaking out of a loop
The break statement can be used to halt and exit a loop

In [109]:
count = 0 
myl = [1,2,3,4,5,6,7,8]
for x in myl: 
    print("Hello world")
    count=count+1
    if(count==2):
        break #Break statement will exit the loop block even though the loop can run 8 times
print("I have exited the loop")

Hello world
Hello world
I have exited the loop

**Q3.(In class lab exercise)** Modify the above program to print the first 2 even numbers from the list .

In [3]:
count = 0 
myl = [1,2,3,4,5,6,7,8]
for x in myl: 
    count=count+1
    if(count%2==0):
        print(count)
        if(count>2):
            break

2
4

**Q4.(In class lab exercise)** Pick the first 2 even numbers and last 2 odd numbers from the list "myl" and store the numbers in a new list and display the new list contents seperately to the user (Hint: Use append() function to add elements to a list)

In [91]:
list1=[]
list2=[]
myl=[1,2,3,4,5,6,7,8]
for x in myl:
    if x%2==0:
        list1.append(x)
    elif x%2!=0:
        list2.append(x)
list=list1[:2]+list2[-2:]
print(list)

[2, 4, 5, 7]

**Q5.(In class lab exercise)** Print the last 2 odd numbers from the list myl (Note: Do not reverse the list or use a new list)

In [107]:
list1=[]
myl=[1,2,3,4,5,6,7,8,9]
for x in myl:
    if x%2!=0:
        list1.append(x)
print(list[-2:])

[5, 7]

### The while loop

In [6]:
# Print "Hello world" 10 times 
count = 1
while(count <=10) :
    print("hello world")
    count = count + 1 
    if(count==6):
        break

hello world
hello world
hello world
hello world
hello world

**Q6.(In class lab exercise)** What is the significance of incrementing the count variable? What will happen if you ignore this step?

In [ ]:
it will keep printing hello world infinitely

**Q7.(In class lab exercise)** Modify the above program to print hello world only 5 times , without changing the while(count<= 10)

In [1]:
count = 1
while(count <=10) :
    print("hello world")
    count = count + 1 
    if count>5:
        break

hello world
hello world
hello world
hello world
hello world

**Q8.(In class lab exercise)** Write a program to print the first 10 odd numbers

In [33]:
a1=list(range(1,30,1))
a2=[]
for x in a1:
    if x%2!=0:
        a2.append(x)
        if len(a2)>=10:
            break
print(a2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Q9.(In class lab exercise)** Write a a program to find the sum of first 50 natural numbers starting from 1

In [42]:
sum2=0
al=list(range(1,51))
for i in al:
    sum2+=i
print(sum2)

1275

**Q10.** (In class lab exercise) Write a program to to find the sum of all the numbers between 555 and 1111 which are divisible by 7

In [210]:
count=555
sum=0
d=list(range(555,1111))
for x in d:
    count+=1
    if(count%7==0):
        sum+=count
print(sum)

65807

**Q11.(In class lab exercise)** Write a program to count the number of numbers between 555 and 1111 which are divisible by 7

In [45]:
count=0
d=list(range(555,1111))
for x in d:
    if(x%7==0):
        count=count+1
print(count)

79

**Q12.(TAKE HOME EXERCISE)** Write a program to compute the sum of squares of first 10 natural numbers

In [211]:
sum1=0
a=list(range(1,11))
s=[i*i for i in a]
print(s)
for k in s:
    sum1+=k
print(sum1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
385

**Q13 (TAKE HOME EXERCISE)** Write a program to print the sum of squares of all the even numbers between 334 and 667

In [214]:
sum=0
a=list(range(334,667,2))
sq=[i*i for i in a]
for j in sq:
    sum+=j
print(sum)

43302432