In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
#pivoting

In [11]:
df1=DataFrame({'DataSet1':np.random.randn(12),'DataSet2':[1,2,3,1,2,3,1,2,3,1,2,3],'Variable':list('AAABBBCCCDDD')})

In [12]:
df1

    DataSet1  DataSet2 Variable
0   0.412980         1        A
1  -1.276719         2        A
2   0.691987         3        A
3   1.000747         1        B
4   0.447136         2        B
5  -0.517630         3        B
6  -1.847401         1        C
7  -0.914669         2        C
8   0.717759         3        C
9  -0.253024         1        D
10 -1.277518         2        D
11  1.092932         3        D

In [13]:
df1.pivot('Variable','DataSet2','DataSet1')

DataSet2         1         2         3
Variable
A         0.412980 -1.276719  0.691987
B         1.000747  0.447136 -0.517630
C        -1.847401 -0.914669  0.717759
D        -0.253024 -1.277518  1.092932

In [15]:
df1.pivot('DataSet2','Variable','DataSet1')

Variable         A         B         C         D
DataSet2
1         0.412980  1.000747 -1.847401 -0.253024
2        -1.276719  0.447136 -0.914669 -1.277518
3         0.691987 -0.517630  0.717759  1.092932

In [17]:
df1.pivot('DataSet1','Variable','DataSet2')

Variable     A    B    C    D
DataSet1
-1.847401  NaN  NaN  1.0  NaN
-1.277518  NaN  NaN  NaN  2.0
-1.276719  2.0  NaN  NaN  NaN
-0.914669  NaN  NaN  2.0  NaN
-0.517630  NaN  3.0  NaN  NaN
-0.253024  NaN  NaN  NaN  1.0
 0.412980  1.0  NaN  NaN  NaN
 0.447136  NaN  2.0  NaN  NaN
 0.691987  3.0  NaN  NaN  NaN
 0.717759  NaN  NaN  3.0  NaN
 1.000747  NaN  1.0  NaN  NaN
 1.092932  NaN  NaN  NaN  3.0

In [18]:
#cross tabulation/contengency table
#marginal probability

In [19]:
#duplicates

In [27]:
df2=DataFrame({'k1':list('AABBB'),'k2':[2,2,2,3,3]})

In [36]:
df2

  k1  k2
0  A   2
1  A   2
2  B   2
3  B   3
4  B   3

In [44]:
df2.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [46]:
df2.drop_duplicates()

  k1  k2
0  A   2
2  B   2
3  B   3

In [48]:
df2.drop_duplicates(['k1'])

  k1  k2
0  A   2
2  B   2

In [49]:
#bottom to top

In [54]:
df2.drop_duplicates(['k1'],keep='last')

  k1  k2
1  A   2
4  B   3

In [56]:
df2.drop_duplicates(['k2'],keep='last')

  k1  k2
2  B   2
4  B   3

In [59]:
df2.drop_duplicates(['k2'],keep='last')

  k1  k2
2  B   2
4  B   3

In [57]:
#mapping

In [62]:
df3=DataFrame({'Name':['Ranjan','Arun','Yogesh'],'Weight':[100,200,300]})

In [64]:
df3

     Name  Weight
0  Ranjan     100
1    Arun     200
2  Yogesh     300

In [69]:
height={'Ranjan':20,'Arun':40,'Yogesh':10}

In [68]:
height

{'Ranjan': 20, 'Arun': 40, 'Yogesh': 10}

In [71]:
df3['Height']=df3['Name'].map(height)

In [73]:
df3

     Name  Weight  Height
0  Ranjan     100      20
1    Arun     200      40
2  Yogesh     300      10

In [74]:
#importing data

In [75]:
#csv-constant-columns, seperators-comma/semi-colon/colon
#if seperated by comma then dont need to do anythn
#if else we have to write whether it is semicolon,colon seperated
#then we have an attribute

In [76]:
d1=pd.read_csv("")#if comma seperated

FileNotFoundError: File b'' does not exist

In [77]:
#never directly check d

In [78]:
d1=pd.read_csv("",sep=';')#seperator/delimitor

FileNotFoundError: File b'' does not exist

In [79]:
d1=pd.read_csv("",sep=':')#seperator/delimitor
#whereever the notebook file is der place the dataset.csv file in the saem folder

FileNotFoundError: File b'' does not exist

In [80]:
#merging on basis of 2 index I-I

In [ ]:
#pd.merge(df1,df2,right_index=True,left_index_True,how='outer')